{% extends 'master.html' %}

{% block titulo %} INDICE {% endblock %}



{% block contenido %} 

<br>
	<div class="container">
		<div class="card bg-secondary text-white">
			<h4 class="card-header bg-dark mb-3"> Bienvenido a la SkinLearning.</h4>
			<div class="card-body">
				<h5 class="card-text"> 
					<p>SkinLearning es una aplicación web que sirve como demostración practica de la aplicación de las investigaciones de mi Trabajo de Fin de Grado: Sistema de apoyo a la decisión clínica para el estudio de lesiones de piel, basado en Deep learning, el cual se puede encontrar <a href="https://github.com/AntonioJesusGarciaNieto/TFG">aquí</a>.
					<p>El código referente a SkinLearning se puede encontrar aquí <a href="https://github.com/AntonioJesusGarciaNieto/TFG">aquí</a>.
				</h5>
			</div>  
		</div>		
	</div>


{% endblock %}