{% extends 'master.html' %}

{% block titulo %} INDICE {% endblock %}



{% block contenido %} 

<br>
	<div class="container">
	<h2>Bienvenido a mi trabajo de fin de grado.</h2>
		<p>Este proyecto se basa en el estudio analítico y exploratorio de las redes neuronales convolucionales y sus derivadas para su posterior aplicación en la detección precoz de enfermedades de piel</p>
		<p>El código fuente se encuentra en mi <a href="https://github.com/AntonioJesusGarciaNieto/TFG">GitHub</p>	
</div>


{% endblock %}