
{% extends 'master.html' %}

{% block encabezado %}
<h1> Carga de la Base de datos. Confirmacion </h1>
{% endblock %}

  {% block contenido %}
  <hr>
  <br></br>
  <br></br>
  <br></br>
  <div class = "container">
    <figure class="text-center">
    <h3>¿Quiere salir de la aplicación?</h3>
    <br></br>
    
    <form id='formulario' method='POST' action=''>{% csrf_token %}
		  <input type="submit" class="btn btn-dark" name="Res" value="Aceptar">
    </form>
  </figure>
  </div>
  {% endblock %}