{% extends 'master.html' %}
{% block encabezado %}
<h1> README </h1>

{% endblock %}


{% block contenido %}
<br></br>
<div class="container">
	<h1>Bienvenido a mi proyecto de TFG</h1>
	<p> En este proyecto se ha realizado un estudio ... </p>

	<h2>Análisis de artículos</h2>
		<ul><a href="https://github.com/AntonioJesusGarciaNieto/TFG/blob/main/Documentaci%C3%B3n/An%C3%A1lisis%20de%20art%C3%ADculos/Formato%20Markdown/Markdown_An%C3%A1lisis%20de%20An%20Ensemble%20of%20Fine-Tuned%20Convolutional%20Neural.md" target="_blank">An Ensemble of Fine-Tuned Convolutional Neural Networks for Medical Image Classification</a></ul>
		<ul><a href="https://github.com/AntonioJesusGarciaNieto/TFG/blob/main/Documentaci%C3%B3n/An%C3%A1lisis%20de%20art%C3%ADculos/Formato%20Markdown/Markdown_An%C3%A1lisis%20de%20Multiple%20sclerosis%20identification%20by%20convolutional%20neural%20network%20with%20dropout%20and%20parametric%20ReLU%20of%20Zhang%20Y-Dong%2C%20Pan%20C%2C%20Sun%20J%2C%20Tang%20C.md" target="_blank" >Multiple sclerosis identification by convolutional neural network with dropout and parametric ReLU</a></ul>
		<ul><a href="https://github.com/AntonioJesusGarciaNieto/TFG/blob/main/Documentaci%C3%B3n/An%C3%A1lisis%20de%20art%C3%ADculos/Formato%20Markdown/Markdown_An%C3%A1lisis%20de%20PARALLEL%20CONVOLUTIONAL-LINEAR%20NEURAL%20NETWORK%20FOR%20MOTOR%20IMAGERY%20CLASSIFICATION.md" target="_blank" >PARALLEL CONVOLUTIONAL-LINEAR NEURAL NETWORK FOR MOTOR IMAGERY CLASSIFICATION</a></ul>
		
	<h2>Experimentos realizados</h2>
	<h2>Análisis de arquitecturas</h2>



</div> 

{% endblock %}

