{% extends 'master.html' %}
{% block encabezado %}
<h1> Etiquetas más populares </h1>

{% endblock %}


{% block contenido %}

	<br></br>
	<div class="container">
        <h3>Dossier {{dossier_title}}</h3>
	{% if skinsLesions %}
		<table class="table table-sm table-striped table-hover" >
			<tr>
				<td class ="text-center"><b style="font-size:18pt;">ID</b></td>
				<td class ="text-center"><b style="font-size:18pt;">Resultados</b></td>
                <td class ="text-center"><b style="font-size:18pt;">Actividad</b></td>
		{% for sl in skinsLesions %}
			<tr>
				<td class ="text-center">{{sl.id}}</td>
        		<td class ="text-center">ToDo</td>
            	<td class ="text-center">
                    <form id='formulario' method='POST' action='/analyze/'>{% csrf_token %}
                        <input type="submit" class="btn btn-dark" name="Analizar" id="sl_id" value="Analizar"></td>
                        <input type="hidden" name=sl_id value={{sl.id}}>
                    </form>
			</tr>
		{% endfor %}
		</table>
        <form id='formulario' method='GET' action='/new_skin_lesion'>{% csrf_token %}
			<a style="font-size:18pt;" >Añadir una nueva muestra</a> &nbsp; &nbsp; <input type="submit" class="btn btn-dark" name="new" value="+">
            <input type="hidden" name=dossier_id value={{dossier_id}}>
	  	</form>
	{% endif %}
    {% endblock %}